<div id="about-me" style="position: absolute; top: -100px"></div>
<div class="left">
  <h2>{{ "ABOUT.TITLE" | translate }}</h2>
  <div class="leftTop">
    <p>
      {{ "ABOUT.INTRO1" | translate }}
      <br /><br />
      {{ "ABOUT.INTRO2" | translate }}
      <br /><br />
      {{ "ABOUT.INTRO3" | translate }}
    </p>
  </div>
  <div class="leftBottom">
    <div class="about-me">
      <div class="img">
        <img src="/assets/icons/Location.png" alt="" />
      </div>
      <p>{{ "ABOUT.LOCATION" | translate }}</p>
    </div>
    <div class="about-me">
      <div class="img">
        <img src="/assets/icons/bulb desktop.png" alt="" />
      </div>
      <p>{{ "ABOUT.CURIOSITY" | translate }}</p>
    </div>
    <div class="about-me">
      <div class="img">
        <img src="/assets/icons/puzzle desktop.png" alt="" />
      </div>
      <p>{{ "ABOUT.PROBLEM_SOLVING" | translate }}</p>
    </div>
  </div>
</div>

<div class="right">
  <img class="profil-pic" src="/assets/icons/hero character photo.png" alt="" />
  <img class="shadow-pic" src="/assets/shadows/shadow-photo.svg" alt="" />
</div>
