@import "about-me-querys";

.about-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

h2 {
  font-size: 90px;
  font-weight: 700;
  color: white;
  line-height: 120px;
  overflow-y: hidden;
}

p {
  color: white;
}

.left {
  width: 550px;
  z-index: 2;
}

.leftTop {
  font-size: 16px;
  font-weight: 400;
}

.leftBottom {
  min-height: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 400;
  .about-me {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    .img {
      width: 50px;
      height: 50px;
      display: flex;
      justify-self: center;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        &:hover {
          width: 50px;
          height: 50px;
        }
      }
    }
    p {
      flex: 1;
      height: auto;
    }
  }
}

.right {
  width: auto;
  .profil-pic {
    width: 100%;
    max-width: 550px;
    height: auto;
  }
}

.shadow-pic {
  position: absolute;
  top: 130px;
  right: 50%;
  transform: translateX(100%);
  width: 792px;
  height: auto;
  z-index: -1;
}

.vector {
  position: absolute;
  bottom: -550px;
  width: 100%;
  z-index: 1;
}

:host-context(.lang-de) .vector {
  bottom: -500px;
}
