@mixin responsive-vector(
  $start: any,
  $end: any,
  $step: any,
  $base: any,
  $bottom-step: any
) {
  $i: 1;
  @for $width from ($start + $step) through $end {
    @if ($width % $step == 0) {
      @media (min-width: #{$width}px) {
        .vector {
          bottom: calc(#{$base} + #{$i} * #{$bottom-step});
        }
      }
      $i: $i + 1;
    }
  }
}
@mixin responsive-bottom-max($start, $end, $step, $base, $bottom-step) {
  $i: 0;
  @for $width from $start through $end {
    $actualWidth: $start - ($i * $step);
    @if ($actualWidth >= $end) {
      @media (max-width: #{$actualWidth}px) {
        .vector {
          bottom: calc(#{$base} - #{$i} * #{$bottom-step});
        }
      }
      $i: $i + 1;
    }
  }
}

.about-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

h2 {
  font-size: 90px;
  font-weight: 700;
  color: white;
  line-height: 120px;
  overflow-y: hidden;
}

p {
  color: white;
}

.left {
  width: 550px;
  z-index: 2;
}

.leftTop {
  font-size: 16px;
  font-weight: 400;
}

.leftBottom {
  min-height: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 400;
  .about-me {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    .img {
      width: 50px;
      height: 50px;
      display: flex;
      justify-self: center;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
        &:hover {
          width: 50px;
          height: 50px;
        }
      }
    }
    p {
      flex: 1;
      height: auto;
    }
  }
}

.right {
  width: auto;
  .profil-pic {
    width: 100%;
    max-width: 550px;
    height: auto;
  }
}

.shadow-pic {
  position: absolute;
  top: 130px;
  right: 50%;
  transform: translateX(100%);
  width: 792px;
  height: auto;
  z-index: -1;
}

.vector {
  position: absolute;
  bottom: -550px;
  width: 100%;
  z-index: 1;
}

@include responsive-vector(1440, 5000, 20, -550px, -10px);
@include responsive-vector(5000, 8000, 30, -2320px, -15px);

@include responsive-bottom-max(1400, 1300, 50, -470px, -30px);
@include responsive-bottom-max(1300, 1101, 10, -400px, -10px);
@include responsive-bottom-max(1101, 1000, 5, -160px, -8px);
@include responsive-bottom-max(1000, 800, 10, 430px, -5px);
@include responsive-bottom-max(800, 460, 10, 460px, -10px);
@include responsive-bottom-max(460, 420, 10, 850px, -10px);


@media (max-width: 1440px) {
  .shadow-pic {
    width: 55%;
    right: 0;
    transform: translateX(0);
  }
}

@media (max-width: 1400px) {
  .about-content {
    align-items: flex-start;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 70px;
  }
}

@media (max-width: 1000px) {
  .about-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .left {
    padding-top: 50px;
  }
  .right {
    display: flex;
    justify-content: center;
    .profil-pic {
      width: 80%;
    }
  }
  .shadow-pic {
    width: 550px;
    height: 520px;
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 800px) {
  .about-content {
    padding: 100px 0;
    width: 80%;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2 {
      line-height: 75px;
    }
  }
  .right {
    .profil-pic {
      width: 100%;
    }
  }
  .shadow-pic {
    width: 100%;
    max-width: 600px;
    height: 580px;
    top: 5%;
  }
}

@media (max-width: 500px) {
  .left {
    h2 {
      font-size: 50px;
      line-height: 60px;
    }
    .leftBottom {
      height: auto;
      gap: 10px;
    }
    .about-me {
      .img {
        width: auto;
        height: auto;
      }
      p {
        flex: 1;
        width: auto;
      }
    }
  }
  .shadow-pic {
    top: 0;
  }
}

@media (max-width: 419px) {
  .vector {
    bottom: 960px;
  }
}

@media (max-width: 398px) {
  .vector {
    bottom: 990px;
  }
}



@media (max-width: 390px) {
  .about-content {
    padding: 20px;
    padding-bottom: 100px;
    flex-direction: column-reverse;
  }
  .left {
    width: 100%;
    padding-top: 50px;
    h2 {
      font-size: 35px;
      line-height: 40px;
      padding-bottom: 15px;
    }
  }
  .leftBottom {
    height: auto;
    width: 300px;
    gap: 15px;
    padding-top: 15px;
    .about-me {
      .img {
        width: auto;
        height: auto;
      }
      p {
        flex: 1;
        width: auto;
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .profil-pic {
      width: 300px;
    }
    .shadow-pic {
      width: 350px;
      height: auto;
      top: 50px;
    }
  }
  .vector {
    bottom: 1050px;
  }
}

@media (max-width: 379px) {
  .vector{
    bottom: 1090px;
  }
}

@media (max-width: 364px) {
  .vector{
    bottom: 1120px;
  }
}

@media (max-width: 348px) {
  .vector{
    bottom: 1150px;
  }
}

@include responsive-bottom-max(346, 320, 5, 1165px, -5px);
