<div class="left">
  <h2 id="about-me">About me</h2>
  <div class="leftTop">
    <p>
      Hey there, I'm Jonas! I've always been fascinated by how technology shapes
      our world — from simple websites to complex applications that solve
      real-world problems. My passion for coding comes from the thrill of
      building something from scratch and seeing it come to life.
      <br />
      <br />
      What inspires me to keep improving is the challenge itself. Every project
      teaches me something new, and I enjoy pushing my limits to find better,
      cleaner solutions. It’s the small wins and "aha" moments that drive me
      forward.
      <br />
      <br />
      Let's connect and create something amazing together!
    </p>
  </div>
  <div class="leftBottom">
    <div>
      <img src="/assets/icons/Location.png" alt="" />
      <p>
        I'm based in the Vogtland region, but I'm also open to remote work and
        flexible working arrangements.
      </p>
    </div>
    <div>
      <img src="/assets/icons/bulb desktop.png" alt="" />
      <p>
        I'm always curious and open-minded when it comes to new technologies. I
        enjoy learning, exploring new tools, and constantly improving my skills
        to stay up to date and grow as a developer.
      </p>
    </div>
    <div>
      <img src="/assets/icons/puzzle desktop.svg" alt="" />
      <p>
        When solving problems, I rely on a mix of analytical thinking,
        creativity, and persistence. I enjoy breaking down complex challenges,
        exploring different solutions, and learning from each step.
      </p>
    </div>
  </div>
</div>

<div class="right">
  <img src="/assets/icons/hero character photo.png" alt="" />
</div>
<img class="shadow-pic" src="/assets/shadows/shadow-photo.svg" alt="" />
