<div id="start" style="position: absolute; top: -100px;"></div>
<div class="hero-content">
  <div class="i-am">I am</div>
  <div class="main-text">
    <h1 class="name">JONAS VALTIN</h1>
    <div class="title">FRONTEND DEVELOPER</div>
  </div>
</div>
<button>Let's talk!</button>
<div class="socials">
  <span class="stroke-hero"></span>
  <a href="https://github.com/VaJoLe">
    <img src="assets/icons/Github-small.png" alt="Github">
  </a>
  <a href="#contact">
    <img src="assets/icons/Email-small.png" alt="Email">
  </a>
  <a href="https://de.linkedin.com/">
    <img src="assets/icons/Linkedin-small.png" alt="LinkedIn">
  </a>
</div>
<div class="scroll">
  Scroll down
  <img src="assets/icons/arrow-down-line.png" alt="" />
</div>
<img class="shadow-top-left" src="assets/shadows/shadow-top-left.svg" alt="">
<img class="shadow-top-right" src="assets/shadows/shadow-top-right.svg" alt="">
