<div class="name">
  <a href="">
    <h3>Jona<span>s</span></h3>
  </a>
</div>
<nav>
  <div class="menu">
    <a href="#about-me">About me</a>
    <a href="#skills">Skills</a>
    <a href="#portfolio">Portfolio</a>
  </div>
  <div class="languageBtn">
    <button
      [class.active]="activeLanguage === 'DE'"
      (click)="setLanguage('DE')"
    >
      DE
    </button>
    <button
      [class.active]="activeLanguage === 'EN'"
      (click)="setLanguage('EN')"
    >
      EN
    </button>
  </div>
</nav>
