<div id="contact" style="position: absolute; top: -100px"></div>

<div class="contact-head">
  <div class="contact-stroke"></div>
  <h2>Contact</h2>
</div>

<div class="contact-content">
  <div class="left">
    <h3>Got a problem to solve?</h3>
    <p>
      Feel free to reach out! I’m looking for a front-end role where I can bring
      clean code, fresh ideas, and real value to your projects.
    </p>
    <p>Need a Frontend developer? <span>Contact me!</span></p>
  </div>
  <div class="right">
    <form
      class="contact-form"
      (ngSubmit)="onSubmit(contactForm)"
      #contactForm="ngForm"
      autocomplete="off"
    >
      <div>
        <input
          type="text"
          name="name"
          id="name"
          #name="ngModel"
          placeholder="Your name"
          [(ngModel)]="contactData.name"
          required
          pattern="^[A-Za-zÀ-ÖØ-öø-ÿÄäÖöÜüß\-'\s]{2,50}$"
        />
        @if (!name.valid && name.dirty && name.value) {
        <div class="error-message">Your name is required.</div>
        }
      </div>
      <div>
        <input
          type="email"
          name="email"
          id="email"
          #email="ngModel"
          placeholder="Your email"
          [(ngModel)]="contactData.email"
          required
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
        @if (!email.valid && email.dirty && email.value) {
        <div class="error-message">Your email is required.</div>
        }
      </div>
      <div>
        <textarea
          name="message"
          id="message"
          placeholder="Your message"
          #message="ngModel"
          [(ngModel)]="contactData.message"
          rows="6"
          required
          minlength="5"
        ></textarea>
        @if (!message.valid && message.dirty && message.value) {
        <div class="error-message">Your message is required.</div>
        }
      </div>
      <div class="checkbox-row">
        <input
          type="checkbox"
          id="privacy"
          name="privacy"
          [(ngModel)]="contactData.privacyAccepted"
          required
          #privacy="ngModel"
        />
        <label for="privacy">
          I've read the
          <a href="privacy" >privacy policy</a> and agree to the
          processing of my data as outlined.
        </label>
      </div>
      @if (!privacy.valid && privacy.touched) {
      <div class="error-message">Please accept the privacy policy.</div>
      }
      <div class="button">
        <button type="submit" [disabled]="!contactForm.valid">
          Send message
        </button>
      </div>
    </form>
    <div class="success-popup" *ngIf="successMessageVisible">
      Thanks for your message! I'll get back to you soon.
    </div>
  </div>

  <a class="goUp" href="#start"
    ><img src="/assets/icons/arrow-goUp.png" alt="Go to hero section"
  /></a>
</div>
<img class="shadow-contact" src="/assets/shadows/shadow-contact.svg" alt="" />
