div {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  position: relative;
  z-index: 1;
}

app-about-me {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 50px;
}

app-skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

app-portfolio {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  padding-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

app-references {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

app-contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 150px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.shadow-ref {
  position: absolute;
  bottom: 450px;
  right: 50%;
  transform: rotate(251deg) translate(-30%, 120%);
  z-index: -1;
}



@media (max-width: 1440px) {
  app-portfolio {
    padding-top: 100px;
  }
  app-contact {
    padding-top: unset;
  }
}

@media (max-width: 1200px) {
  .shadow-ref {
    transform: rotate(251deg) translate(-40%, 115%);
  }
}

@media (max-width: 1000px) {
  .shadow-ref {
    transform: rotate(251deg) translate(-40%, 100%);
  }
}

@media (max-width: 800px) {
  .shadow-ref {
    transform: rotate(251deg) translate(10%, 100%);
  }
}

@media (max-width: 500px) {
  .shadow-ref {
    width: 600px;
    height: 700px;
    bottom: 800px;
    transform: rotate(251deg) translate(10%, 90%);
  }
}

@media (max-width: 390px) {
  app-about-me{
    padding-top: 20px;
  }
}
