div {
  position: relative;
  overflow: hidden;
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

app-hero {
  width: 100%;
  max-width: 1440px;
  height: 910px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

app-about-me {
  width: 100%;
  max-width: 1440px;
  height: auto;
  min-height: 770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 50px;
}

app-skills {
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  gap: 50px;
}

.vector {
  position: absolute;
  top: 1600px;
  width: 100%;
  max-width: 1440px;
  z-index: 0;
}

app-portfolio {
  display: inline-block;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding-top: 100px;
  position: relative;
  z-index: 1;
  color: white;
  overflow: hidden;
}

app-references {
  display: inline-block;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 150px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

app-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 0 100px 150px 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1400px) {
  app-about-me {
    align-items: flex-start;
  }
}

@media (max-width: 1200px) {
  app-references {
    padding: 0;
    padding-top: 100px;
  }
}

@media (max-width: 1000px) {
  app-about-me {
    flex-direction: column-reverse;
    align-items: center;
  }
  app-skills {
    flex-direction: column-reverse;
    align-items: end;
  }
}

@media (max-width: 900px) {
  app-contact {
    padding-right: 50px;
    padding-bottom: 100px;
  }
}

@media (max-width: 800px) {
  app-references {
    padding-left: 0;
  }
}

@media (max-width: 750px) {
  app-about-me {
    padding: 50px;
  }
}

@media (max-width: 600px) {
  app-hero {
    height: 850px;
  }
  app-portfolio {
    text-align: center;
    padding-top: 50px;
  }
}

@media (max-width: 390px) {
  app-hero {
    height: 820px;
  }

  app-about-me {
    padding: 20px;
    flex-direction: column-reverse;
  }

  .vector {
    top: 980px;
  }

  app-skills {
    flex-direction: column-reverse;
    padding: 50px 0;
    position: relative;
    height: auto;
    justify-content: start;
    gap: 0;
  }

  app-portfolio {
    padding: 50px 0;
  }

  app-references {
    padding: 20px 0;
  }

  app-contact {
    padding: 0;
  }
}
