div {
  position: relative;
  overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

app-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

app-about-me {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  gap: 50px;
}

app-skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.vector {
  position: absolute;
  top: 100%;
  transform: translateY(150%);
  width: 100%;
  z-index: 0;
}

app-portfolio {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  padding-top: 250px;
  display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

app-references {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
}

app-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 0 100px 150px 0;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1440px) {
  app-portfolio {
    padding-top: 100px;
  }
}



@media (max-width: 1200px) {

  .vector {
    top: 1500px;
  }
}

@media (max-width: 1000px) {
  .vector {
    top: 1450px;
  }
}

@media (max-width: 900px) {
  app-contact {
    padding-right: 50px;
    padding-bottom: 100px;
  }
}

@media (max-width: 800px) {
  
  .vector {
    top: 1600px;
  }
}

@media (max-width: 750px) {
  .vector {
    top: 1600px;
  }
}

@media (max-width: 600px) {
  app-portfolio {
    text-align: center;
    padding-top: 50px;
  }
  .vector {
    top: 1400px;
  }
}

@media (max-width: 500px) {
  .vector {
    top: 1250px;
  }
}

@media (max-width: 390px) {
  app-hero {
    height: 820px;
  }

  .vector {
    top: 980px;
  }

  app-portfolio {
    padding: 50px 0;
  }

  

  app-contact {
    padding: 0;
  }
  .vector {
    top: 1150px;
  }
}
