<div id="skills" class="skillsIcons">
  <div class="skillIconBox" *ngFor="let item of imageList">
    <img [src]="item.image" [alt]="item.title" />
    <p>{{ item.title }}</p>
  </div>
</div>
<div class="skillsText">
  <div class="skillsTextTitle">
    <h2>Skills</h2>
    <div class="strokeSkills"></div>
  </div>
  <div class="skillsTextContent">
    <p>
      I've worked on various projects using front-end technologies like HTML,
      CSS, and JavaScript, gaining hands-on experience in building responsive
      and user-friendly interfaces. <br />
      <br />
      I'm always eager to learn and explore new tools and frameworks, because
      the tech world moves fast — and I enjoy keeping up. <br />
      <br />
      For me, continuous learning is essential to stay current and deliver
      modern, efficient solutions in web development.
    </p>
    <button>Get in touch</button>
  </div>
</div>
<img class="shadow-skills" src="/assets/shadows/shadow-skills.svg" alt="">