app-project {
    padding: 0 100px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.portfolio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
    h2 {
        font-size: 90px;
        font-weight: 700;
    }
    .strokeRight {
        width: 100px;
        height: 4px;
        background-color: #1CE6B6;
    }
    .strokeLeft {
        width: 507px;
        height: 4px;
        background-color: #1CE6B6;
    }
}

.portfolio-intro {
    display: flex;
    justify-content: center;
    p {
        font-size: 16px;
        font-weight: 400;
    }
}

.shadow-pf {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: -250px;
    z-index: -1;
    width: 700px;
    height: 700px;
}

.shadow-skills {
    position: absolute;
    top: -20px;
    right: -320px;
    z-index: -1;
    width: 700px;
    height: 700px;
  }

  @media (max-width: 390px){
    app-project {
        padding: 0;
    margin: 0;
    }
    .portfolio{
        gap: 10px;
        .strokeLeft{
            width: 80px;
        }
        h2{
            font-size: 35px;
        }
        .strokeRight{
            width: 30px;
        }
    }
    .portfolio-intro{
        text-align: center;
    }
  }