.portfolio-content{
  max-width: 1440px;
  color: white;
}

app-project {
  padding: 0 100px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.portfolio {
  width: auto;
  position: absolute;
  top: 100px;
  right: 50%;
  transform: translateX(6%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  margin-bottom: 20px;
  h2 {
    color: white;
    font-size: 90px;
    font-weight: 700;
  }
  .strokeRight {
    width: 100px;
    height: 4px;
    background-color: #4b47ff;
  }
  .strokeLeft {
width: 5000px;   
height: 4px;
    background-color: #4b47ff;
  }
}

.portfolio-intro {
  display: flex;
  justify-content: center;
  p {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
}

.shadow-skills {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(150%);
  z-index: -1;
  width: 700px;
  height: 700px;
}

.shadow-pf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-140%);
  z-index: -1;
  width: 700px;
  height: 700px;
}

@media(max-width: 1440px){
  .portfolio{
    width: 100%;
    position: unset;
    transform: translateX(0);
    .strokeLeft {
      width: 507px;
      flex: unset;
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    padding-right: 200px;
    .strokeLeft {
      width: auto;
      flex: 1;
    }
    h2 {
      width: auto;
      font-size: 70px;
    }
    .strokeRight {
      width: 70px;
    }
  }
  .portfolio-intro {
    width: 80%;
    margin: 0 auto;
  }
  .shadow-skills {
    width: 600px;
    height: 600px;
  }
  .shadow-pf {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 1050px) {
  .shadow-skills {
    transform: translateX(130%);
  }
  .shadow-pf {
    transform: translateX(-130%);
  }
}

@media (max-width: 800px) {
  app-project {
    padding: 0 50px;
  }

  .portfolio {
    padding-right: 100px;
    .strokeRight {
      width: 50px;
    }
  }
  .shadow-skills {
    width: 500px;
    height: 500px;
    transform: translateX(125%);
  }
  .shadow-pf{
    transform: translateX(-110%);
  }
}

@media (max-width: 600px) {
  .portfolio {
    padding-right: 50px;
  }
  .shadow-skills {
    width: 450px;
    height: 450px;
  }
  .shadow-pf {
    width: 500px;
    height: 500px;
    top: 45%;
  }
}

@media (max-width: 500px) {
  .portfolio {
    h2 {
      font-size: 50px;
    }
  }
 
  .shadow-skills {
    width: 400px;
    height: 400px;
    transform: translateX(120%);
  }
}

@media (max-width: 390px) {
  app-project {
    padding: 0;
    margin: 0;
  }
  .portfolio {
    gap: 10px;
    padding-right: 0;
    .strokeLeft {
      width: 80px;
      flex: unset;
    }
    h2 {
      font-size: 35px;
    }
    .strokeRight {
      display: inline;
      width: 30px;
    }
  }
  .portfolio-intro {
    text-align: center;
    padding: 0 20px;
  }
}
