.bg {
  background-color: #141d2f;
  position: relative;
  overflow: hidden;
  @media (min-width: 1441px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

app-header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 37px 100px;
  height: 110px;
  width: 100%;
  max-width: 1440px;
  z-index: 100;
}

app-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 100px;
  height: 270px;
  width: 100%;
  max-width: 1440px;
  z-index: 100;
  border-top: 4px solid #4B47FF;
  background-color: #141d2f;
}
