.imprint {
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 270px);
  color: white;
  padding: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (min-width: 1441px) {
    width: 1440px;
  }
  .imprint-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
  }
  h2 {
    font-size: 32px;
    font-weight: 400;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    a {
      text-decoration: underline;
      color: white;
      cursor: pointer;
    }
  }
}

@media (max-width: 550px) {
  .imprint {
    padding: 100px 50px 50px 50px;
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 390px) {
  .imprint {
    height: auto;
    min-height: calc(100vh - 220px);
  }
}
