.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    h3 {
      color: white;
      font-size: 40px;
      font-weight: 700;
    }
    span {
      color: #4b47ff;
    }
  }
  p {
    color: white;
    font-size: 23px;
    font-weight: 400;
  }
  .socials {
    width: 160px;
    display: flex;
    justify-content: space-between;
    a {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;
        &:hover {
          width: 40px;
          height: auto;
        }
      }
    }
  }
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

  &:hover {
    color: #1ce6b6;
    text-decoration: underline;
  }
}
