.portfolio-card {
    .content-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
  
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  
    &.reversed {
      .content-wrapper {
        flex-direction: row-reverse;
  
        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
      .project-text {
        text-align: right;
  
        .buttons {
          justify-content: flex-end;
        }
      }
    }

    .project-image {
      width: 620px;
      height: 340px;
      padding: 60px 110px;
      object-fit: cover;
  
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  
    .project-text {
      flex : 1;
      .title {
        color:#9747FF;
        margin-bottom: 8px;
        font-size: 32px;
        font-weight: 700;
      }
  
      .stack {
        color: #4caf50;
        font-size: 23px;
        font-weight: 400;
      }
  
      .desc {
        margin: 16px 0;
        font-size: 16px;
        font-weight: 400;
      }
  
      .buttons {
        display: flex;
        gap: 86px;
            transition: 75ms;
        a {
          text-decoration: none;
          padding: 15px 30px;
          border-radius: 10px;
          font-size: 23px;
          font-weight: 400;
  
          &:first-child {
            background: #9747FF;
            color: white;
          }
  
          &:last-child {
            border: 1px solid #70E61C;
            color: #70E61C;
          }
          &:hover {
            transition: 75ms;
            background: #70E61C;
            color: white;
          }
        }
      }
    }
  }